{% block cssx %}
<link href="{{ asset('css/form2.css') }}" rel="stylesheet">
{% endblock %}<!-- css endblock -->
{{ form_start(form) }}

    {{ form_widget(form) }}

<button class="red" id="forme2sub">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
