{% extends 'dashboard/index.html.twig' %}

{% block title %}Bestpractice{% endblock %}

{% block bodyx %}
<div class="wrapper">
    <div class="sa4d25">
        <div class="container" style="margin-left: 5%">
            {% block cssx %}
            <link href="{{ asset('css/form2.css') }}" rel="stylesheet">
            {% endblock %}<!-- css endblock -->
            <div class="segment">
    <h1>Bestpractice</h1>
            </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Node</th>
                <td>{{ bestpractice.Node }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ bestpractice.Title }}</td>
            </tr>
            <tr>
                <th>Link</th>
                <td>{{ bestpractice.Link }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_bestpractice_index') }}">back to list</a>

    <a href="{{ path('app_bestpractice_edit', {'Node': bestpractice.Node}) }}">edit</a>

    {{ include('bestpractice/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
